.recipe-container {
    margin: 0px 30px;

    & > * {
        padding: 20px;
    }

    & > .image-section {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
}

.misc-section {
    text-align: right;
}

.title {
    text-align: center;
}

.sub-title {
    padding: 10px 5px;
}

.inline-title {
    display: inline;
}

.small-title {
    font-size: 1em;
}
